<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JGiven Search</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="default.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.js" type="text/javascript"></script>

  <script src="jgiven-search.js" type="text/javascript"></script>
  <style type="text/css">
    .highlighted em {
    font-weight: bold;
    font-style: normal;
    }
   </style>
</head>
<body>
  <div ng-app="JGivenApp">
    <div ng-controller="ApplicationController" ng-init="getScenarios()">
      <div class="well">
        <h1>Acceptance Tests</h1>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="searchInput">Search</label>
            <input type="text" class="form-control" id="searchInput" placeholder="Search" ng-model="search" ng-change="getScenarios()"/>
          </div>
        </form>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning" role="alert" ng-show="scenarios.length === 0">No matching scenarios found</div>

            <div class="panel-group" id="accordion">
              <div ng-repeat="scenario in scenarios" class="panel panel-default">
                <div class="panel-heading scenario-title">
                  <a ng-show="scenario.highlight.hasOwnProperty('description')" data-toggle="collapse" data-parent="#accordion" href="#scenario{{$index}}">
                    <span class="highlighted" ng-bind-html="scenario.highlight.description[0]" />
                  </a>
                  <a ng-hide="scenario.highlight.hasOwnProperty('description')" data-toggle="collapse" data-parent="#accordion" href="#scenario{{$index}}">
                    <span>{{scenario._source.description}}</span>
                  </a>
                  <span class="tag-line">
                    <span ng-repeat="tag in scenario._source.tags" class="tag tag-{{tag.name}}">{{tag.value}}</span>
                  </span>
                </div>
                <div id="scenario{{$index}}" class="panel-collapse collapse {{$first && 'in'}}">
                  <div class="panel-body">
                    <div class='scenario-content' ng-switch on="scenario._source.casesAsTable">

                      <div ng-switch-when="true">
                        <div class='case'>
                          <ul class='steps'>
                            <li ng-repeat="step in scenario._source.scenarioCases[0].steps">
                              <span ng-repeat="word in step.words" ng-class="{introWord: $first}">

                                <span ng-if="word.argumentInfo.isCaseArg" class="caseArgument">
                                  &lt;{{ scenario._source.parameterNames[word.argumentInfo.parameterIndex] }}&gt;
                                </span>

                                <span ng-if="!word.argumentInfo.isCaseArg" ng-class="{argument: word.argumentInfo}">
                                  <span ng-bind-html="getHighlightedValue( scenario.highlight['scenarioCases.steps.words.value'], word.value)" />
                                </span>

                              </span>
                            </li>
                          </ul>

                          <h4>Cases:</h4>
                          <table class='data-table'>
                            <tr><th>#</th>
                            <th ng-repeat="paramName in scenario._source.parameterNames">{{paramName}}</th>
                            <th>Status</th>
                            </tr>

                            <tr ng-repeat="case in scenario._source.scenarioCases">
                              <td>{{1+$index}}</td>
                              <td ng-repeat="arg in case.arguments track by $index">{{arg}}</td>
                              <td ng-if="case.success"><div class='passed'>Success</div></td>
                              <td ng-if="!case.success"><div class='failed'>{{case.errorMessage}}</div></td>
                            </tr>

                          </table>
                        </div>
                      </div>

                      <div ng-switch-default>
                        <div ng-repeat="case in scenario._source.scenarioCases">
                          <div class='case' ng-class="{passedCase: !scenario._source.scenarioCases.failed}">
                            <span ng-show="scenario._source.scenarioCases.length > 1">
                            Case {{case.caseNr}}:
                            </span>
                            <ul class='steps'>
                              <li ng-repeat="step in case.steps">
                                <span ng-repeat="word in step.words" ng-class="{introWord: $first, caseArgument: word.argumentInfo.isCaseArg, argument: word.argumentInfo && !word.argumentInfo.isCaseArg}">
                                  <span ng-bind-html="getHighlightedValue( scenario.highlight['scenarioCases.steps.words.value'], word.value)" />
                                </span>
                              </li>
                            </ul>
                            <div ng-show="!scenario._source.scenarioCases.failed" class='topRight passed'>Passed</div>
                          </div>
                        </div>
                      </div>

                    </div> <!-- scenario-content -->
                  </div>
                  <div class='scenario-footer'>{{scenario._source.className}}</div>
                </div>
              </div>
              <p>
                <div ng-show="scenarios.length > 0"><em>shown {{ scenarios.length }} of {{ searchResult.hits.total }} matches in {{ searchResult.took }} ms</em></div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
